a {
text-decoration:none;
}
 img {
max-width:100%;
}
a{
text-decoration-line:none;
text-decoration-style:initial;
text-decoration-color:initial;
}
img{
max-width:100%;
}
.top-container{
margin-right:auto;
margin-left:auto;
height:auto;
width:100%;
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
background-color:rgb(105, 105, 106);
}
#ioiib{
width:100%;
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
margin-right:auto;
margin-left:auto;
overflow-x:hidden;
overflow-y:hidden;
}
#ip27l{
clear:both;
}
.link{
display:inline-block;
padding-top:8px;
padding-right:8px;
padding-bottom:8px;
padding-left:8px;
min-height:50px;
min-width:50px;
}
.navbar-items-c{
display:inline-block;
float:right;
}
.navbar{
font-size:20px;
font-weight:400;
color:black;
position:relative;
min-height:50px;
width:100%;
font-family:Helvetica, serif;
}
.navbar-container{
max-width:950px;
margin-top:0px;
margin-right:auto;
margin-bottom:0px;
margin-left:auto;
width:95%;
}
.navbar-container::after{
content:"";
clear:both;
display:block;
}
.navbar-menu{
padding-top:10px;
padding-right:0px;
padding-bottom:10px;
padding-left:0px;
display:block;
float:right;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
}
.navbar-menu-link{
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
color:inherit;
text-decoration-line:none;
text-decoration-style:initial;
text-decoration-color:initial;
display:inline-block;
padding-top:10px;
padding-right:15px;
padding-bottom:10px;
padding-left:15px;
}
.navbar-burger{
margin-top:10px;
margin-right:0px;
margin-bottom:10px;
margin-left:0px;
width:45px;
padding-top:5px;
padding-right:10px;
padding-bottom:5px;
padding-left:10px;
display:none;
float:right;
cursor:pointer;
}
.navbar-burger-line{
padding-top:1px;
padding-right:1px;
padding-bottom:1px;
padding-left:1px;
background-color:rgb(223, 221, 221);
margin-top:5px;
margin-right:0px;
margin-bottom:5px;
margin-left:0px;
}
#i6yrxg{
color:black;
}
.col1_main{
width:20%;
float:left;
min-height:75px;
}
.col2-main{
width:80%;
float:left;
min-height:75px;
}
.headerseparator{
padding-top:8px;
text-shadow:rgb(0, 0, 0) 2px 2px 4px;
text-align:center;
background-image:repeating-linear-gradient(45deg, rgb(96, 109, 188), rgb(96, 109, 188) 10px, rgb(70, 82, 152) 10px, rgb(70, 82, 152) 20px);
background-position-x:initial;
background-position-y:initial;
background-size:initial;
background-repeat-x:initial;
background-repeat-y:initial;
background-attachment:initial;
background-origin:initial;
background-clip:initial;
background-color:initial;
height:36px;
color:white;
}
.middle-container{
margin-right:auto;
margin-left:auto;
height:auto;
padding-right:40px;
padding-left:30px;
width:100%;
padding-top:150px;
padding-bottom:150px;
background-image:url(../images/pexels-photo-373892-902.jpeg);
background-attachment:scroll;
background-repeat-x:no-repeat;
background-repeat-y:no-repeat;
background-size:cover;
background-position-x:50%;
background-position-y:0%;
text-align:center;
font-weight:700;
font-family:Helvetica, serif;
font-size:40px;
color:rgb(254, 244, 255);
border-radius:0 0 0 0;
}
.h1{
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
font-style:normal;
font-variant-caps:normal;
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-variant-east-asian:normal;
font-stretch:normal;
line-height:normal;
font-family:Helvetica, serif;
font-size:64px;
text-align:center;
color:rgb(254, 254, 254);
font-weight:700;
text-shadow:rgb(50, 50, 50) 10px 5px 15px;
max-width:1000px;
margin-top:0px;
margin-right:auto;
margin-bottom:0px;
margin-left:auto;
border-radius:10px 10px 0 0;
}
.h2{
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
font-style:normal;
font-variant-caps:normal;
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-variant-east-asian:normal;
font-stretch:normal;
line-height:normal;
font-family:Helvetica, serif;
font-size:36px;
text-align:center;
font-weight:700;
color:rgb(217, 53, 53);
text-shadow:rgb(50, 50, 50) 10px 5px 15px;
max-width:1000px;
margin-top:0px;
margin-right:auto;
margin-bottom:0px;
margin-left:auto;
}
.button-link{
display:inline-block;
padding-right:8px;
padding-bottom:8px;
padding-left:8px;
min-height:50px;
min-width:50px;
text-align:left;
margin-top:30px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
padding-top:8px;
}
.button{
font-style:normal;
font-variant-caps:normal;
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-variant-east-asian:normal;
font-stretch:normal;
line-height:normal;
font-family:Helvetica, serif;
background-color:rgb(217, 53, 53);
color:rgb(254, 244, 255);
padding-top:15px;
padding-bottom:15px;
padding-right:30px;
padding-left:30px;
font-size:36px;
text-align:center;
font-weight:700;
}
#i6v5g{
display:inline-block;
padding-top:8px;
padding-right:8px;
padding-bottom:8px;
padding-left:8px;
min-height:50px;
min-width:50px;
}
#i2cau{
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
font-style:normal;
font-variant-caps:normal;
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-variant-east-asian:normal;
font-weight:normal;
font-stretch:normal;
font-size:15px;
line-height:normal;
font-family:Arial, Helvetica, sans-serif;
}
.section-container{
margin-right:auto;
margin-left:auto;
height:auto;
width:100%;
padding-top:150px;
padding-bottom:150px;
padding-right:40px;
padding-left:40px;
font-family:Arial, Helvetica, sans-serif;
}
#iamjn{
clear:both;
}
.startup-img{
color:black;
width:100%;
max-width:600px;
}
.h4{
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
font-style:normal;
font-variant-caps:normal;
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-variant-east-asian:normal;
font-weight:normal;
font-stretch:normal;
line-height:normal;
color:rgb(217, 53, 53);
font-family:Helvetica, serif;
font-size:20px;
margin-top:0px;
margin-right:0px;
margin-bottom:10px;
margin-left:0px;
}
.paragraph{
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
font-style:normal;
font-variant-caps:normal;
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-variant-east-asian:normal;
font-weight:normal;
font-stretch:normal;
font-family:Helvetica, serif;
font-size:15px;
color:rgb(49, 50, 51);
letter-spacing:3px;
line-height:22px;
}
.mid-box{
width:50%;
float:left;
min-height:75px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
padding-top:20px;
padding-bottom:40px;
padding-right:40px;
padding-left:40px;
}
.mid-col1{
width:100%;
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
overflow-x:hidden;
overflow-y:hidden;
margin-top:0px;
margin-right:auto;
margin-bottom:50px;
margin-left:auto;
max-width:1000px;
}
.mid-img{
width:50%;
float:left;
min-height:75px;
}
#iqrx7h{
clear:both;
}
.h3{
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
font-style:normal;
font-variant-caps:normal;
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-variant-east-asian:normal;
font-weight:normal;
font-stretch:normal;
line-height:normal;
font-family:Helvetica, serif;
font-size:30px;
text-align:center;
color:rgb(49, 50, 51);
margin-top:0px;
margin-right:0px;
margin-bottom:80px;
margin-left:0px;
}
.parallex-section{
margin-right:auto;
margin-left:auto;
height:auto;
padding-right:40px;
padding-left:40px;
width:100%;
background-image:url("../images/pexels-photo-1068523-836.jpeg");
background-repeat-x:no-repeat;
background-repeat-y:no-repeat;
background-attachment:fixed;
background-position-x:50%;
background-position-y:0%;
background-size:cover;
padding-top:150px;
padding-bottom:150px;
text-align:center;
}
.link-but2{
display:inline-block;
padding-top:8px;
padding-right:8px;
padding-bottom:8px;
padding-left:8px;
min-height:50px;
min-width:50px;
text-align:center;
color:rgb(254, 244, 255);
}
.button2{
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
font-style:normal;
font-variant-caps:normal;
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-variant-east-asian:normal;
font-stretch:normal;
font-size:15px;
line-height:normal;
font-family:Helvetica, serif;
font-weight:700;
color:rgb(254, 244, 255);
background-color:rgb(217, 53, 53);
}
#i8ktj3{
clear:both;
}
.service{
width:100%;
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
margin-right:auto;
margin-left:auto;
overflow-x:hidden;
overflow-y:hidden;
max-width:1200px;
}
.service-col1{
width:33.3%;
float:left;
min-height:75px;
padding-top:10px;
padding-bottom:10px;
padding-right:10px;
padding-left:10px;
}
.service-col2{
width:33.3%;
float:left;
min-height:75px;
padding-top:10px;
padding-bottom:10px;
padding-right:10px;
padding-left:10px;
}
.service-col3{
width:33.3%;
float:left;
min-height:75px;
padding-top:10px;
padding-right:10px;
padding-left:10px;
padding-bottom:10px;
}
.ser-con1{
max-width:1200px;
margin-right:auto;
margin-left:auto;
height:auto;
padding-top:40px;
padding-right:40px;
padding-bottom:40px;
padding-left:40px;
border-top-width:3px;
border-top-style:solid;
border-top-color:rgb(105, 105, 106);
border-right-width:3px;
border-right-style:solid;
border-right-color:rgb(105, 105, 106);
border-bottom-width:3px;
border-bottom-style:solid;
border-bottom-color:rgb(105, 105, 106);
border-left-width:3px;
border-left-style:solid;
border-left-color:rgb(105, 105, 106);
background-image:url("none");
background-repeat-x:repeat;
background-repeat-y:repeat;
background-position-x:0%;
background-position-y:0%;
background-attachment:scroll;
background-size:auto;
text-align:center;
}
.ser-con2{
max-width:1200px;
margin-right:auto;
margin-left:auto;
height:auto;
padding-top:40px;
padding-right:40px;
padding-bottom:40px;
padding-left:40px;
border-top-width:3px;
border-top-style:solid;
border-top-color:rgb(217, 53, 53);
border-right-width:3px;
border-right-style:solid;
border-right-color:rgb(217, 53, 53);
border-left-width:3px;
border-left-style:solid;
border-left-color:rgb(217, 53, 53);
border-bottom-width:3px;
border-bottom-style:solid;
border-bottom-color:rgb(217, 53, 53);
text-align:center;
}
#imn3ei{
clear:both;
}
.footerseparator{
padding-top:8px;
text-shadow:rgb(0, 0, 0) 2px 2px 4px;
text-align:center;
background-image:repeating-linear-gradient(45deg, rgb(96, 109, 188), rgb(96, 109, 188) 10px, rgb(70, 82, 152) 10px, rgb(70, 82, 152) 20px);
background-position-x:initial;
background-position-y:initial;
background-size:initial;
background-repeat-x:initial;
background-repeat-y:initial;
background-attachment:initial;
background-origin:initial;
background-clip:initial;
background-color:initial;
height:36px;
color:white;
}
.footer{
margin-right:auto;
margin-left:auto;
height:auto;
padding-top:40px;
padding-right:40px;
padding-bottom:40px;
padding-left:40px;
width:100%;
background-color:rgb(105, 105, 106);
}
#i3o9if{
color:black;
height:98.141px;
width:50%;
margin-top:0px;
margin-right:0px;
margin-bottom:10px;
margin-left:0px;
}
#i4i21e{
color:black;
height:98.141px;
width:50%;
margin-top:0px;
margin-right:0px;
margin-bottom:10px;
margin-left:0px;
}
#ia8aqk{
color:black;
height:98.141px;
width:50%;
margin-top:0px;
margin-right:0px;
margin-bottom:10px;
margin-left:0px;
}
#ig6cxl{
color:black;
height:75.141px;
width:50%;
margin-top:0px;
margin-right:0px;
margin-bottom:10px;
margin-left:0px;
}
#i3q451{
color:black;
height:78px;
width:40%;
margin-top:0px;
margin-right:0px;
margin-bottom:10px;
margin-left:0px;
}
#i79jgd{
color:black;
height:77px;
width:40%;
padding-bottom:0px;
margin-top:0px;
margin-right:0px;
margin-bottom:10px;
margin-left:0px;
}
.footer-left{
width:50%;
float:left;
min-height:75px;
}
#il1qtv{
width:100%;
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
margin-right:auto;
margin-left:auto;
overflow-x:hidden;
overflow-y:hidden;
}
#iawq5k{
width:50%;
float:left;
min-height:75px;
}
#izj7fd{
clear:both;
}
.footer-right{
width:50%;
float:left;
min-height:75px;
text-align:right;
}
.footer-image{
color:black;
width:150px;
}
.footer-txt-right{
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
font-style:normal;
font-variant-caps:normal;
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-variant-east-asian:normal;
font-stretch:normal;
font-size:15px;
line-height:normal;
font-family:Helvetica, serif;
font-weight:700;
letter-spacing:3px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
}
#im35wj{
text-align:start;
}
.linkedin{
color:black;
width:40px;
margin-top:0px;
margin-right:10px;
margin-bottom:0px;
margin-left:0px;
}
.facebook{
color:black;
width:40px;
margin-top:0px;
margin-right:10px;
margin-bottom:0px;
margin-left:0px;
}
.insta{
color:black;
width:40px;
margin-top:0px;
margin-right:10px;
margin-bottom:0px;
margin-left:0px;
}
.twitter{
color:black;
width:40px;
margin-top:0px;
margin-right:10px;
margin-bottom:0px;
margin-left:0px;
}
.linkedin-link{
display:inline-block;
padding-top:8px;
padding-right:8px;
padding-bottom:8px;
padding-left:8px;
min-height:50px;
min-width:50px;
}
.fb-link{
display:inline-block;
padding-top:8px;
padding-right:8px;
padding-bottom:8px;
padding-left:8px;
min-height:50px;
min-width:50px;
}
.insta-link{
display:inline-block;
padding-top:8px;
padding-right:8px;
padding-bottom:8px;
padding-left:8px;
min-height:50px;
min-width:50px;
}
.twitter-link{
display:inline-block;
padding-top:8px;
padding-right:8px;
padding-bottom:8px;
padding-left:8px;
min-height:50px;
min-width:50px;
}
.footer-link{
display:inline-block;
padding-top:8px;
padding-right:8px;
padding-bottom:8px;
padding-left:8px;
min-height:50px;
min-width:50px;
}
@media (max-width: 992px){
#i6yrxg{
text-align:left;
}
.col1_main{
width:100%;
text-align:center;
}
.col2-main{
width:100%;
}
.middle-container{
padding-top:120px;
padding-bottom:120px;
padding-right:20px;
padding-left:20px;
}
.h1{
font-size:55px;
}
.h2{
font-size:28px;
}
.section-container{
padding-top:120px;
padding-bottom:120px;
padding-right:20px;
padding-left:20px;
}
.startup-img{
width:233.094%;
padding-left:2px;
text-align:center;
}
#iylbj{
width:auto;
}
#ihqvh{
width:100%;
}
.mid-box{
width:100%;
}
.mid-img{
text-align:center;
width:100%;
}
.h3{
margin-top:0px;
margin-right:0px;
margin-bottom:40px;
margin-left:0px;
}
.parallex-section{
padding-top:120px;
padding-bottom:120px;
padding-right:20px;
padding-left:20px;
}
.ser-con1{
width:100%;
padding-top:20px;
padding-bottom:20px;
padding-right:20px;
padding-left:20px;
}
.service-col1{
width:100%;
}
.service-col3{
width:100%;
}
.ser-con2{
padding-top:20px;
padding-right:20px;
padding-bottom:20px;
padding-left:20px;
}
.service-col2{
width:100%;
}
#i79jgd{
width:20%;
}
#i3o9if{
width:20%;
}
#ia8aqk{
width:20%;
}
#i4i21e{
width:20%;
}
#ig6cxl{
width:20%;
}
#i3q451{
width:20%;
}
.top-container{
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
}
.col2-main{
margin-top:-80px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
}
}
@media (max-width: 993px){
.navbar-burger{
display:block;
}
.navbar-items-c{
display:none;
width:100%;
}
.navbar-menu{
width:100%;
}
.navbar-menu-link{
display:block;
}
.navbar-burger{
display:block;
}
.navbar-items-c{
display:none;
width:100%;
}
.navbar-menu{
width:100%;
}
.navbar-menu-link{
display:block;
}
}
@media (max-width: 480px){
.h2{
font-size:18px!important;
}
.middle-container{
padding-top:80px!important;
padding-bottom:80px!important;
padding-right:10px!important;
padding-left:10px!important;
}
.h1{
font-size:36px!important;
}
.mid-img{
width:100%!important;
}
.section-container{
padding-top:80px!important;
padding-bottom:80px!important;
padding-right:10px!important;
padding-left:10px!important;
}
.h3{
margin-top:0px!important;
margin-right:0px!important;
margin-bottom:30px!important;
margin-left:0px!important;
}
.paragraph{
padding-top:10px!important;
padding-right:10px!important;
padding-left:10px!important;
padding-bottom:10px!important;
}
.mid-box{
padding-right:20px!important;
padding-left:20px!important;
}
.startup-img{
width:100%!important;
}
.parallex-section{
padding-top:80px!important;
padding-bottom:80px!important;
padding-right:10px!important;
padding-left:10px!important;
}
#i3q451{
width:50%!important;
}
#i3o9if{
width:50%!important;
}
#ia8aqk{
width:50%!important;
}
#i4i21e{
width:50%!important;
}
#ig6cxl{
width:50%!important;
}
#i79jgd{
width:50%!important;
}
.footer-left{
width:100%!important;
text-align:center!important;
}
.footer-right{
width:100%!important;
text-align:center!important;
}
.footer-image{
text-align:right!important;
}
.footer{
text-align:center!important;
}
.footer-txt-right{
letter-spacing:1px!important;
}
#i6yrxg{
width:150px!important;
margin-top:-17px!important;
margin-right:0px!important;
margin-bottom:0px!important;
margin-left:0px!important;
}
.footer-right{
max-width:100%!important;
margin-top:0px!important;
margin-right:0px!important;
margin-bottom:0px!important;
margin-left:0px!important;
padding-left:0px!important;
padding-right:0px!important;
padding-top:0px!important;
text-align:center!important;
}
.twitter-link{
padding-top:0px!important;
padding-bottom:0px!important;
padding-right:0px!important;
padding-left:0px!important;
margin-top:0px!important;
margin-right:0px!important;
margin-bottom:0px!important;
margin-left:0px!important;
}
.twitter{
margin-top:0px!important;
margin-right:0px!important;
margin-bottom:0px!important;
margin-left:0px!important;
}
.insta{
margin-top:0px!important;
margin-right:0px!important;
margin-bottom:0px!important;
margin-left:0px!important;
}
.insta-link{
padding-top:0px!important;
padding-right:0px!important;
padding-left:0px!important;
padding-bottom:0px!important;
}
.facebook{
margin-top:0px!important;
margin-right:0px!important;
margin-bottom:0px!important;
margin-left:0px!important;
}
.linkedin{
margin-top:0px!important;
margin-right:0px!important;
margin-bottom:0px!important;
margin-left:0px!important;
}
.footer-left{
max-width:100%!important;
}
}
@media